[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
flask = "*"
flask-sqlalchemy = "*"
sqlalchemy-serializer = "*"
werkzeug = "*"
flask-migrate = "*"
flask-cors = "*"
attrs = "*"
alembic = "*"
requests = "*"
flask-restful = "*"

[dev-packages]
zipp = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
